extends ./layout

block styles
  link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/styles/homepage.css")

block scripts
  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/underscore/underscore-min.js")
  script(src="/lib/backbone/backbone.js")
  script(src="/lib/marionette/lib/backbone.marionette.min.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUmiiwz4__nY4fYEMV68Dcn7bHz0ngL4M")
  script(src="/js/MapView.js")
  script(src="/js/LotModel.js")
  script(src="/js/LotListView.js")
  script(src="/js/map.js")

block body
  #layout_root.container-fluid
    #layout_root_row.row
      #left_column.col-xs-2
        #lot_list
      #map_container.col-xs-10
        #map_canvas
  
  script(id="tpl_lot_item_view", type="text/template")
    div
      | <%= id %>
