extends layout

block content
  #searchContainer.container
    .row
      #welcomeContainer.col-md-6.col-sm-12
        h1 Welcome to Adopt-A-Lot South Bend
      #searchBoxContainer.col-md-3.col-sm.12
        input(type="text",data-bind="value: searchContent",placeholder="Enter address or ZIP here...")
      #searchButtonContainer.col-md-3.col-sm-12
        input.btn.btn-primary(type="button",data-bind="click: search") Search
  #mapContainer.container
    .row
      .col-md-12
        //put the map here
  #formContainer.container
    .row


block scripts
  script(type='text/javascript',src='/js/search.js')

