extends layout

block content
  #topContainer.container
    .row
      #welcomeContainer.col-md-8
        h2 Welcome to Adopt-A-Lot South Bend
      #searchContainer.col-md-4.text-right
        input#searchBox(type="text",data-bind="value: searchContent",placeholder="Enter address or ZIP here...")
        | 
        input#searchBtn.btn.btn-primary(type="button",data-bind="click: search", value="Search")

  #mapContainer.container
    .row
      .col-md-12
          #map

  #formContainer.container
    .row
      .col-md-12
        form
          .form-group
            label(for="stateParcelID") State Parcel ID
            input#stateParcelID.form-control(type="text")
          .form-group
            label(for="firstName") First Name
            input#firstName.form-control(type="text")
          .form-group
            label(for="lastName") Last Name
            input#lastName.form-control(type="text")
          .form-group
            label(for="email") Email
            input#email.form-control(type="text")
          .form-group
            label(for="date") Date
            input#date.form-control(type="date")
          button.btn.btn-primary(type="button", data-bind="click: submitForm") Submit


block scripts
  script(type='text/javascript',src='/javascripts/search.js')
  include ./partials/entry_info_window
  script(type='text/javascript',src='/javascripts/map.js')
