doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //block styles
  body
    #siteContainer
      #siteHeader
      #siteContentContainer
        block content
      #siteFooter
  //script(type='text/javascript',src='/jquery/dist/jQuery.min.js')
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js")
  script(type='text/javascript',src='/js/site.js')
  block scripts
